﻿body {
    background-image: url("Immagini/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

html, body{
    width:100%;
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    background-color: #d3cab4;
    font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    list-style-type: none;
    padding: 8px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.mobile-table{
    margin-top: 10px;
}

.container li a, .dropbtn, .index-table td a, .mobile-table td a, .slideshow-buttons > button {
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 3px 45px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-top: 26px;
    background-color: #bfb9b9;
    margin-right: 20px;
    -webkit-animation: 0.5s;
    -moz-animation: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    float: right;
    display: block;
    border-bottom: 1px solid transparent;
}

.slideshow-buttons > button{
    border: none;
    outline: none;
    border-bottom: 1px solid transparent;
    float: none;
    cursor: pointer;
}

.container li:not(:first-child){
    float: right;
}

li.dropdown {
    display: inline-block;
}

.container li .icon {
    display: none;
    border: 1px solid transparent;
    font-size: 14px;
    text-align: center;
    margin-top: 26px;
    background-color: #bfb9b9;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-right: 20px;
    padding: 5px 25px;
    -webkit-animation: 0.5s;
    -moz-animation: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.slideshow-buttons > button {
    width: 250px;
    padding: 3px 10px;
}

.container li a:hover, .dropdown:hover .dropbtn, .slideshow-buttons > button:hover {
    background-color: gray;
    border-bottom: 1px solid white;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 168px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 11px 14px !important;
    text-decoration: none;
    display: block !important;
    text-align: left;
    margin: 0px !important;
    float: none !important;
    border-top: 1px solid inherit;
}

.dropdown-content a:hover, slideshow-buttons > button:hover {
    background-color: gray;
    -webkit-animation: 0.6s;
    transition: 0.6s;
    color: white;
}

.dropdown:hover .dropdown-content {
    /*display: block;*/
    margin-top: 54px;
    float: right;
}

.container img{
    float: left;
    width: 265px;
    height: 70px;
    margin-left: 0px;
    margin-right: 20px;
}

.mobile-table {
    display: none;
    margin-top: 20px;
    border-left: 2px solid grey;
    padding-left: 1em;
}

.mobile-table .frame{
    margin-bottom: 25px;
}

/*MEDIUM SIZED MONITORS*/
@media screen and (max-width: 1246px) {

    .container li a, .dropbtn {
        padding: 3px 35px;
        margin-right: 15px;
    }

    .index-table tr td a {
        padding: 3px 35px;
    }

    .slideshow-container .slides .slide .caption {
        font-size: 75px;
        height: 115px;
    }

    .slideshow-container .slides .slide .caption p{
        margin-left: 145px;
    }

    .footer p {
        margin-left: -85px;
    }
}

/*BIG TABLETS*/
@media screen and (max-width: 1130px) {

    .container li a, .index-table tr td a, .dropbtn {
        padding: 3px 25px;
    }

    .slideshow-container .slides .slide .caption {
        font-size: 70px;
        height: 110px;
    }

    .slideshow-container .slides .slide .caption p{
        margin-left: 125px;
    }

    .footer p {
        margin-left: -135px;
    }
}

/*SMALL TABLETS*/
@media screen and (max-width: 1030px) {

    .container li a, .index-table tr td a, .dropbtn {
        padding: 3px 15px;
    }

    .slideshow-container .slides .slide .caption {
        font-size: 65px;
        height: 105px;
    }

    .slideshow-container .slides .slide .caption p {
        margin-left: 105px;
    }

    .footer p {
        margin-left: -185px;
    }
}

/*SMARTPHONES*/
@media screen and (max-width: 950px) {

    .container li:not(:nth-child(2)) a, .container li .dropdown {
        display: none;
    }

    .slideshow-container .slides .slide .caption {
        font-size: 60px;
        height: 100px;
    }

    .slideshow-container .slides .slide .caption p{
        margin-left: 25px;
    }

    .footer p {
        margin-left: -200px;
    }

    .invito{
        font-size: 20px;
    }
    .container.responsive li a, .container li img, .container li:not(:nth-child(2))/*, .container li a*/ {
        float: none !important;
        display: block;
    }    
    .container.responsive li:not(:nth-child(2)) a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container li .icon{
      display: block;
      margin-top: -40px;
    }
    .container li .icon:hover{
        cursor: pointer;
    }
    .container.responsive .dropdown .dropdown-content {
        margin-top: 0px;
        float: none !important;
        display: block;
        position: relative;
    }
    .index-table{
        display: none;
    }
    .mobile-table tr td a{
        padding: 6px 120px;
    }
    .mobile-table{
        display: table;
        width: 475px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-table tr {
        vertical-align: middle;
    }
    .corpo{
        font-size: 16px;
    }
    .slideshow-buttons > button {
        display: inline-block;
    }
}

@media screen and (min-width: 950px) {
    #myBtn{
        display: none !important;
    }
}

/*DWARF SMARTPHONES*/
@media screen and (max-width: 650px) {
    .slideshow-container .slides .slide .caption {
        font-size: 50px;
        height: 80px;
    }

    .slideshow-container .slides .slide .caption p {
        margin-left: 15px;
    }

    .footer p{
        padding: 0;
        margin: 0;
        padding-top: 50px;
        margin-left: -420px;
        float: none;
    }

    .oldSchool tr td{
        display: table-row;
    }

    .mobile-table{
        width: 85%;
    }

    .mobile-table tr td a{
        padding: 6px 100px;
    }

    .container img{
        width: 189px;
        height: 50px;
    }

    .riquadro p{
        font-size: 10px;
    }

}

@media screen and (max-width:520px){
    .mobile-table tr td a {
        padding: 6px 60px;
    }

    .slideshow-container .slides .slide .caption {
        font-size: 40px;
        height: 70px;
    }
}

@media screen and (max-width:430px) {
    .mobile-table tr td a {
        padding: 6px 30px;
    }

    .slideshow-container .slides .slide .caption {
        font-size: 35px;
        height: 65px;
    }
}

@media screen and (max-width:380px) {
    .mobile-table tr td a {
        padding: 6px 8px;
    }
    .slideshow-container .slides .slide .caption {
        font-size: 30px;
        height: 50px;
    }
}

@media screen and (max-width: 850px){
    .aziendaTable tr td {
        display: table-row;
    }
}

.slide {
    width: 100%;
    height: 100%;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
}

.slideshow-container > .slides > .slide > img, .slideshow-container > .slides > .slide > a > img {
    width: 100%;
    height: 100%;
    max-height: 700px;
    cursor: pointer;
}

.slideshow-empty img {
    width: 100%;
    height: 100%;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
}

.slideshow-container, .slideshow-containers, .container-cartina {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -5px;
    max-width: 100%;
    position: relative;
}

.slideshow-container{
    margin-top: -15px;
}

#esp{
    margin-top: -5px;
}

.mySlides {
    display: none;
    max-height: 500px;
    max-width: 666px;
    min-height: 500px;
    height: auto;
    width: 100%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    background-image: url("../Immagini/slideshow-default-bg.png");
    box-shadow: 3px 3px 3px black;
}

.slideshow-empty {
    background-color: grey;
    max-height: 500px;
    max-width: 666px;
    box-shadow: 3px 3px 3px black;
}

.container-cartina img {
    width: 100%;
    height: auto;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.cartina-caption, .invito{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 8px;
    word-spacing: 5px;
    font-weight: bold;
    border-bottom: 1px solid red;
}

.caption{
    display: none;
    left: 0px;
    right: 0px;
    bottom: 22px;
    width: 100%;
    height: 120px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    color: white;
    font-family: myFont,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-align: left;
    text-shadow: 3px 3px 3px black;
}

#index .caption{
    bottom: 0px;
}

.caption p{
    margin-left: 170px;
    margin-top: 0px;
}

@font-face{
    font-family: "myFont";
    src: url('../fonts/Monsieur-Pomme/Monsieur-Pomme.otf') format('truetype');
}

.indicator {
    margin-right: 15px;
    display: inline-block;
    background-color: lightgrey;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

.indicators {
    text-align: center;
}

.footer {
    overflow: hidden;
    background-color: #d3cab4;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 20px 10px;
    bottom: 0;
    width: 100%;
}

.footer img {
   float: left;
   width: 227px;
   height: 60px;
   margin-left: 30px;
}

.footer p{
    margin-top:25px;
    padding-left: 450px;
    font-size: 9px;
}

.corpo{
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    word-spacing: 2px;
    line-height: 20px;
    font-family: Arial;
    float: right;
}

.corpo p {
    border-bottom: 2px solid red;
    margin-top: 10px;
    padding-bottom: 5px;
}

.corpo li{
    line-height: 20px;
}

.index-table{
    margin-top: 10px;
    right: 100px;
    width: 100%;
}

td .frame{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    /*min-width: 200px;*/
}

td {
    padding-left: 15px;
    padding-right: 15px;
}

.index-table td a, .mobile-table td a {
    float: right;
    margin: 0;
    margin-bottom: 5px;
    padding: 3px 40px 3px 40px;
}

.index-table td a:hover, .mobile-table td a:hover {
    background-color: gray;
    border-bottom: 1px solid white;
    color: white;
}

.titoli{
    height:40px;
}

.ico{
    width: 30px;
    height: 30px;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}

.aziendaPic {
    margin: 0px;
    padding: 0px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    float: left;
    width: 100%;
    height: auto;
    /*min-width: 600px;*/
}

.aziendaTable{
    margin: 7px;
    float: right;
    margin-top: -18px;
    width: 100%;
}

.accanto {
    margin: 0px;
    padding: 0px;
    line-height: 50px;
    font-family: myFont2, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-align: center;
}

@font-face {
    font-family: "myFont2";
    src: url('../fonts/coolvetica rg/coolvetica rg.ttf') format('truetype');
}

#presidentePic {
    margin-bottom: 0px;
    border: 1px solid grey;
    width: 255px;
    height: 255px;
    background-image:url(../Immagini/elPresidente.jpeg);
    background-position: center;
    background-size: contain;
}

#presidenteCaptions {
    font-weight: bold;
    caption-side: bottom;
    font-size: small;
    line-height: 15px;
}

figure {
    float: right;
}

.oldSchool{
    margin-top: -18px;
    margin-left: 10px;
    margin-right: 10px;
}
.oldSchool td{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.oldSchool img{
    width:100%;
    height: 100%;
    display: block;
}

.info, .slideshow-buttons > button {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 10px !important;
}

.sottotitolo{
    margin-left: 10px;
    font-style: italic;
}

.contatti img{
    margin-top: 10px;
    width: 250px;
}

.contatti a {
    text-decoration: underline;
    color: blue;
}

.contatti a:hover, .proposte:hover, .pdf-wrapper a:hover{
    color: red;
    -moz-animation: ease;
    transition: 0.5s;
}

.contatti a:visited{
    color: purple;
}

.marchi{
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.theCreator{
    font-size: 10px;
}

.modellino{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 25px;
}

.modellino img{
    width: 100%;
    height: 100%;
    max-width: inherit;
    box-shadow: 2px 2px 2px black;
}

.riquadro {
    margin: auto;
    width: 65%;
    position: relative;
}

.interiore {
    position: absolute;
    background-color: antiquewhite;
    bottom: -60px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.interiore p{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 17px;
}

.invito-due, .invito-tre{
    border-bottom: 2px solid lightgrey;
    padding-bottom: 28px;
    margin-top: 12px;
    font-size: 20px;
    color: red;
    font-weight:600;
}

.invito-tre{
    margin-left: 10px;
    margin-top: 135px;
    font-size: 26px;
}

.invito-quattro{
    color: red;
    font-size:17px;
    font-weight: bold;
}

.descr, .invito-quattro {
    margin-right: 10px;
    margin-left: 10px;
}

.proposte, .pdf-wrapper a{
    text-decoration: underline;
    color: blue;
}

.pdf-wrapper{
    margin: 10px;
    list-style-type: none;
}

.size{
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    margin: 0px;
    margin-left: 5px;
    display: inline-block;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    width: 100px;
    cursor: pointer;
    padding: 15px;
}

#mapid {
    width: 600px;
    height: 400px;
    margin-left: 10px;
    z-index: 0;
}